<!DOCTYPE html>
<html lang="tr" data-bs-theme="dark">
    <head>
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/css/loader.css" />
        <link rel="stylesheet" href="/css/style.busses.css" />
    </head>
    <body>
        <%- include('partials/sidebar') %>
        <div class="content">
            <div class="container mt-4 d-flex justify-content-center">
                <input
                    class="form-control form-control-lg"
                    type="text"
                    placeholder="Otobüs durağı kodu girin"
                    id="search"
                    autofocus
                />
                <button class="btn btn-primary" id="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div class="container mt-4">
                <div class="row" id="searchResults"></div>
            </div>
        </div>

        <%- include('partials/scripts') %>
        <script src="/js/script.busses.js"></script>

        <% if (locals?.busNumber) { %>
        <script>
            document.getElementById("search").value = "<%= locals.busNumber %>";
            performSearch();
        </script>
        <% } %>
    </body>
</html>
