.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.bus-code {
    color: #007bff;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.plate-num {
    color: #6c757d;
}

.left-time {
    font-weight: bold;
}

.left-time .min-2 {
    color: #c72b3b;
}

.left-time .min-5 {
    color: #ffc107;
}

.left-time .min-10 {
    color: #36c157;
}

.card {
    margin-bottom: 1rem;
}